@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root{
    --red:#ff5a3c;
    --light-red:#f9edeb;
    --white:#fff;
}

*{
    font-family: 'Nunito', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

body{
    background:#f7f7f7;
}

section{
    padding:2rem 9%;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding:.8rem 3.5rem;
    border-radius: .5rem;
    font-size: 1.7rem;
    color:var(--red);
    background:var(--light-red);
    cursor: pointer;
    text-align: center;
}

.btn:hover{
    background:var(--red);
    color:#fff;
}

.heading{
    text-align: center;
    color:#333;
    font-size: 4rem;
    padding-bottom: 3rem;
}

.heading span{
    color:var(--red);
    background:var(--light-red);
    border-radius: .5rem;
    padding:.2rem 1.5rem;
}

header{
    position: fixed;
    top:0; left:0; right:0;
    z-index: 1000;
    background:var(--white);
    padding:1.5rem 9%;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo{
    font-weight: bolder;
    font-size: 2.5rem;
    color:#333;
}

header .logo span{
    color:var(--red);
}

header .navbar a{
    color:#333;
    font-size: 2rem;
    /* padding:0 1.5rem; */
}

header .navbar a:hover{
    color:var(--red);
}


header .icons a{
    height:4.5rem;
    line-height: 4.5rem;
    width:5rem;
    font-size: 2rem;
    margin-right: .5rem;
    border-radius: .5rem;
    color:var(--red);
    background:var(--light-red);
    text-align: center;
}


header .icons a:hover{
    background-color:var(--red);
    color:#fff;
}


.parent{
    display: grid;
}
.item{
    grid-row:1;
    column-gap: 2px;
    padding-top: 8px;
    padding-left: 6px;
    padding-right: 4px;
}
.home{
    min-height: 100vh;
    background:url(../images/home-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home form{
    margin-top: 7rem;
    background:var(--white);
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
    border:.1rem solid rgba(0,0,0,.2);
    width:70rem;
    padding:2rem;
}

.home form h3{
    text-align: center;
    color:#333;
    font-size: 3rem;
}

.home form .buttons-container{
    display: flex;
    gap:1.5rem;
}

.home form .buttons-container .btn{
    flex:1;
}

.home form .inputBox{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    margin-top: 2rem;
}

.home form .inputBox input,
.home form .inputBox select{
    flex:1 1 25rem;
    border:.1rem solid #333;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
    font-size: 1.5rem;
    padding:1rem;
    text-transform: none;
}

.home form .btn{
    width: 100%;
    margin-top: 2rem;
}

.dark-mode {
    --red:#00838f ;
    background-color: #002D33;
    --light-red:black;
    --white:#ffffff;
    color: #fff;
}

.light-mode {
    background-color: #fff;
    color: black;
}
button{
    padding: 10px;
    border-radius: 50%;
}
button:hover{
    background-color:grey ;
}

.mobile .nav-list li a:hover{
    background-color: rgb(255, 255, 255);
    padding: 4px;
    padding-left: 18px;
    padding-right: 18px;
    border-radius: 5px;
    
}
    
.mobile .hamburger div {
    background: rgb(0, 0, 0);
    width: 34px;
    height: 1px;
    margin-bottom: 6px;
    border-radius: 4px;
    padding: 2px;
    margin-right: 2px;

}


.nav-wrapper ul.nav-list {
    list-style-type: none;
    display: flex;
    align-items: center;
}
.nav-wrapper ul.nav-list li {
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px ;
    position: relative;
}

.nav-wrapper ul.nav-list li a {
    color: var(--dark);
    text-decoration: none;
    letter-spacing: 1px;
    transition: all .5s ease-in-out;
}

.nav-wrapper ul  li a {
    color: var(--white);
} 



@keyframes moveUp {
    0% {
        opacity: 0;
        transform: translateX(-50%) translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateX(-50%) translateY(20px); 
    }
}



.mobile .hamburger {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    cursor: pointer;
    opacity: 100;
}



.mobile ul.nav-list {
    background: linear-gradient(45deg, #efdbdb, #f97a7a);
    color: rgb(0, 0, 0);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    opacity: 0;
    pointer-events: none;
    transition: all .3s ease-in-out;
}



.mobile ul.nav-list.open {
    opacity: 100;
    pointer-events: auto;  
}

.mobile .hamburger div {
    transform-origin: left;
    transition: all .3s ease-in-out;
}

.mobile ul.nav-list li a {
    font-size: 20px;
}

.mobile ul.nav-list li {
    margin-left: 0;
    text-align: center;
}

